<div class="container">
  <header class="header">
    <div class="header-text">
      We're Launching Soon
    </div>
  </header>
  <main>
    <app-countdown-timer></app-countdown-timer>
  </main>
  <footer class="footer">
    <div class="footer-icons">
      <img src="assets/images/icon-facebook.svg" alt="Facebook Icon" />
      <img src="assets/images/icon-instagram.svg" alt="Instagram Icon" />
      <img src="assets/images/icon-pinterest.svg" alt="Pinterest Icon" />
    </div>
  </footer>
  <router-outlet></router-outlet>
</div>