<div class="countdown-timer">
  <div class="time-unit">
    <div class="time-value">{{ days }}</div>
    <div class="time-label">Days</div>
  </div>
  <div class="time-unit">
    <div class="time-value">{{ hours }}</div>
    <div class="time-label">Hours</div>
  </div>
  <div class="time-unit">
    <div class="time-value">{{ minutes }}</div>
    <div class="time-label">Minutes</div>
  </div>
  <div class="time-unit">
    <div class="time-value">{{ seconds }}</div>
    <div class="time-label">Seconds</div>
  </div>
</div>